%html
  %body
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"}
    %script{src: "https://unpkg.com/d3-dag@0.1.2/dist/d3-dag.min.js"}
    %script{src: "http://localhost:3000/assets/route_viz/pattern-dag.js"}
    .container
      %br
      .row
        %h1 RouteViz
        %h4 Select Route to View Stops
      %hr
      .row
        .col-sm-8
          .controls
            %div
              %label{for: "route"} Routes:
              %input#route{type: "text", value: "MTASBWY:1"}
            %div
              %input#direction0{checked: "checked", name: "direction", type: "radio", value: "0"}
              %label{for: "direction0"} Uptown
              %input#direction1{name: "direction", type: "radio", value: "1"}
              %label{for: "direction1"} Downtown
            %div
              %label{for: "mydatetime"} Date/Time:
              %input#mydatetime.flatpickr{placeholder: "Select Time", type: "text"}
            %div
              %label{for: "routeVizURL"} OTP URL:
              %input#routeVizURL{type: "text", value: @url}
            %div
              %label{for: "routeVizKey"} OTP API Key:
              %input#routeVizKey{type: "text", value: @api_key}
            %br
            %div#configsURL{style: "display: none"}
              =configs_url            
            %div
              %input#submit.btn.btn-info{type: "button", value: "Submit"}
        .col-sm-4
          %h5 LEGEND
          %table
            %tr
              %td
                =image_tag('route_viz/subway.png');
              %td Rail Stop
              %td
                =image_tag('route_viz/shuttle.png');
              %td Shuttle Stop
            %tr
              %td
                =image_tag('route_viz/terminal.png');
              %td Terminal Stop
              %td
                =image_tag('route_viz/solid.png');
              %td Rail Connection
            %tr
              %td
                =image_tag('route_viz/dashed.png');
              %td Shuttle Connection
    
    %div{style: "margin: 20px;"}
      #stops