.row.text-center
  .col-md-4.center
    %h2
      =link_to static_route_viz_path do 
        RouteViz
  .col-md-4.center
    %h2
      =link_to stations_stations_path do 
        StationViz
  .col-md-4.center
    %h2
      =link_to trip_compare_groups_path do
        TripCompare


