.row.text-center
  .col-md-6.center
    %h2
      =link_to trip_compare_groups_path do
        TripCompare
  //.col-md-3
  //  =link_to admin_reports_path  do
  //    Reports
  .col-md-6.center
    %h2
      =link_to stations_stations_path do 
        StationViz
  //.col-md-3
  //  RouteViz (coming soon)

