<head>
    <meta charset="UTF-8">
    <title>Staion Viewer</title>
</head>
<body>
<div class="col-md-3">
  <%= collection_select :stop_id, @stops, :id, :name, include_blank: true %>
</div>
<div class="col-md-9">
    I should have the graph of the station here

</div>

<div class="col-md-12">Alerts go here?????</div>
</body>



