=content_for :header do
  Reports

=simple_form_for :dashboard,
  url: admin_reports_path,
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true },
  authenticity_token: true do |f|
  
  =f.input :dashboard_name, required: true, 
    collection: @dashboards, 
    label: "Select Report", selected: @selected_dashboard_name

  .dashboard-options.api-usage.origin-destination.hidden
  =f.input :report_unit, required: true,
    collection: @report_units_on, 
    label: "Report On", selected: @selected_report_unit

  .dashboard-options.api-usage.origin-destination.hidden
  =f.input :geography, required: true, 
    collection: @geographies, 
    label: "Geography", selected: @selected_geography

  .dashboard-options.api-usage.origin-destination.hidden
  =f.input :origin, required: true, 
    collection: @origins, 
    input_html: { multiple: true },
    label: "Origin", selected: @selected_origin

  .dashboard-options.api-usage.origin-destination.hidden
  =f.input :destination, required: true, 
    collection: @destinations, 
    input_html: { multiple: true },
    label: "Destination", selected: @selected_destination

  .dashboard-options.api-usage.origin-destination.hidden
  =f.input :platform, required: true, disabled: true,
    collection: @platforms, 
    label: "Platform", selected: @selected_platform


  -# PARTNER AGENCY SELECTION
  -#.dashboard-options.planned-trips.hidden
  -#  = f.input :partner_agency, required: false,
  -#    collection: PartnerAgency.all,
  -#    value_method: :id,
  -#    label: "Planned By"
      
  -# DATE GROUPING
  .dashboard-options.api-usage.origin-destination.hidden
    =f.input :time_period,
      collection: @time_periods, include_blank: false,
      label: "Time Period", selected: @selected_time_period
      
  -# DATE RANGE SELECTORS
  .dashboard-options.api-usage.origin-destination.hidden
    =f.input :from_date, required: false,
      input_html: {class: 'datepicker', value: @selected_from_date}, 
      as: :string, label: "From"
    =f.input :to_date, required: false,
      input_html: {class: 'datepicker', value: @selected_to_date}, 
      as: :string, label: "To" 

=content_for :footer do
  .btn.btn-primary.dashboard-form-submit View Report

%hr/ 

:javascript
  $(document).ready(function() {
  
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
        
    // Hides all dashboard options and then shows the relevant ones.
    var showDashboardOptions = function(dashboard) {
      $('.dashboard-options').addClass('hidden');
      if(dashboard) {
        var dashboardOptionsSelector = '.' + dashboard.toLowerCase().replace(' ', '-');
        $(dashboardOptionsSelector).removeClass('hidden');
      }
    }
    
    // Show dashboard options on document ready if a dashboard is selected.
    var initialDashboard = $('select#dashboard_dashboard_name').val();
    showDashboardOptions(initialDashboard);
    
    // Show appropriate dashboard options when a new dashboard is selected.
    $('select#dashboard_dashboard_name').change(function() {
      var dashboard = $(this).val();
      showDashboardOptions(dashboard);
    });

    // Handle reload of origin and destination if a new geography is selected.
    $('#dashboard_geography').on('change', function(event) {
      var selected_geography_name = $(this).val();
       $('form#form-dashboards').submit();
    });

    // Form Submit handler
    $('.dashboard-form-submit').click(function() {
      if($('select#dashboard_dashboard_name').val() !== "") {
        $('form#form-dashboards').submit();
      }
    });
    
  });
