=content_for :title do
  Reports

=render partial: 'dashboards', layout: '/layouts/panel'

-if @report_units
  -if @selected_dashboard_name == 'Origin Destination'
    =render partial: 'origin_destination_dashboard', layout: '/layouts/panel', locals: {hide_footer: true}
  -else
    =render partial: 'api_usage_dashboard', layout: '/layouts/panel', locals: {hide_footer: true}