=content_for :title do
  Origin Destination Dashboard

-#= DashboardReport.new(:planned_trips, trips: @trips, grouping: @grouping).html
.row
  .col-md-3
  .col-md-6
    %table.table.table-hover#staff-table
      %thead.thead-default
        %tr
          %th Origin
          %th Destination
          %th Counts (all)

=back_link admin_reports_path