=content_for :header do
  ="Run a New Test"
=content_for :body do
  .col-md-12
    %h4.text-left
      OTP Settings
    .row
      .col-md-3.detail.text-right
        Walk Speed (m/s)
      .col-md-9.text-left
        = f.input :otp_walk_speed, label: false, :as => :integer
    .row
      .col-md-3.detail.text-right
        Max Walk Distance (m)
      .col-md-9.text-left
        = f.input :otp_max_walk_distance, label: false, :as => :integer
    .row
      .col-md-3.detail.text-right
        Walk Reluctance (Multiplier)
      .col-md-9.text-left
        = f.input :otp_walk_reluctance, label: false, :as => :integer
    .row
      .col-md-3.detail.text-right
        Transfer Penalty (s)
      .col-md-9.text-left
        = f.input :otp_transfer_penalty, label: false, :as => :integer

