=content_for :header do
  ="Run a New Test"
=content_for :body do
  .col-md-6
    =render partial: "otp_form", locals: {f: f}

  .col-md-6
    %h4.text-center
      ATIS Settings
    .row
      .col-md-6.detail.text-right
        Walk Speed (m/s)
      .col-md-6.text-left
        = f.input :atis_walk_speed, label: false, :as => :integer
    .row
      .col-md-6.detail.text-right
        Max Walk Distance (m)
      .col-md-6.text-left
        = f.input :atis_walk_dist, label: false, :as => :integer
    .row
      .col-md-6.detail.text-right
        Minimize
      .col-md-6.text-left
        = f.input :atis_minimize, label: false, collection: ['X', 'T', 'W'], include_blank: false