=content_for :title do
  Groups 

.row
  .col-md-2
  .col-md-8
    %table.table.table-hover#group-table
      %thead.thead-default
        %tr
          %th Compare Type
          %th Name
          %th Comment
          %th Trips
          %th Created
          %th
          
      -@groups.order(:created_at).reverse_order.each do |group|
        %tr{style: "cursor: pointer", data: {url: edit_admin_group_path(group)}}
          %td
            =group.formatted_type
          %td
            =group.name
          %td
            =group.comment
          %td
            =group.trips.count
          %td
            =group.created_at.in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')
          %td.text-right
            =link_to "Delete", admin_group_path(group), 
              method: :delete, 
              class: "btn btn-sm btn-danger", 
              data: {confirm: "Are you sure?  This action cannot be undone!"}
.row
  .col-md-4
  .col-md-4
    = simple_form_for @new_group, url: admin_groups_path, html: {class: 'form-horizontal', multipart: true, method: :post }, authenticity_token: true do |f|
      =render partial: 'new_group', layout: '/layouts/new_record_panel', locals: {f: f}

:javascript
  $(document).ready(function() {
  
    // Link to appropriate feedback detail on row click
    $('#group-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });
  });