.bad
  background: (#ff1a1a !important)
.good
  background: (#009900 !important)
.ok
  background: (#ff9900 !important)
.detail
  font-weight: bold
.bar
  font-size: 20px
  padding-left: 10px
  padding-right: 10px
  color: #CCCCCC
