=content_for :title do
  ="Edit: #{@user.first_name} #{@user.last_name}"

= simple_form_for @user, 
    url: admin_user_path, 
    html: {method: :put, class: "form-horizontal" }, 
    authenticity_token: true do |f|
  =render partial: 'edit_user', layout: '/layouts/new_record_panel', locals: {f: f}