.panel.panel-primary
  .panel-heading
    %h4
      =yield_content :header
  .panel-body.panel-primary
    -if content_for?(:body)
      =yield_content :body
    -else
      =yield
  .panel-footer.panel-primary
    %center
      = f.button :submit, "OK", class: "btn btn-primary"
